<footer>
    <div class="container">
    	<div class="copy">
    		Copyright © 2015 Ubitus Inc. All rights reserved.	
    	</div>
    	<ul class="bottom-nav">
    		<li><a href="#/solutions">解決方案</a></li>
			<li><a href="#/products">產品與技術</a></li>
			<li><a href="#/credentials">客戶及夥伴</a></li>
			<li><a href="#/press">新聞中心</a></li>
			<li><a href="#/aboutubitus">關於我們</a></li>
			<li><a href="#/careers">工作機會</a></li>
    	</ul>
    	<ul class="blank">
    		<li><a href="mailto:contact@ubitus.net"><i class="fa fa-envelope"></i></a></li>
    		<li><a href="https://www.linkedin.com/company/ubitus" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
    		<li><a href="https://www.youtube.com/user/UbitusGameCloud" target="_blank"><i class="fa fa-youtube-square"></i></a></li>
    	</ul>
    </div>  
</footer>
