<nav class="navbar" role="navigation">
    <div class="logo">
        <a href="/"><img src="img/header-logo.svg"></a>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="#/solutions">解決方案</a>
                <!-- <ul class="sub-menu">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul> -->
            </li>
            <li>
                <a href="#/products">產品與技術</a>
            </li>
            <li>
                <a href="#/credentials">客戶及夥伴</a>
            </li>
            <li>
                <a href="#/press">新聞中心</a>
            </li>
            <li>
                <a href="#/aboutubitus">關於我們</a>
            </li>
        </ul>
    </div>
</nav>
